{
  "CZE":"Czechia",
  "CSR":"Czechoslovakia",
  "HUN":"Hungary",
  "ISL":"Iceland",
  "BLR":"Belarus",
  "MNT":"Montenegro",
  "CYP":"Cyprus",
  "MLT":"Malta",
  "SVN":"Slovenia",
  "ISR":"Israel",
  "NIR":"Northern Ireland",
  "BEL":"Belgium",
  "ARM":"Armenia",
  "GER":"Germany",
  "BHZ":"Bosnia-Herzegovina",
  "ESP":"Spain",
  "MOL":"Moldova",
  "NED":"Netherlands",
  "DEN":"Denmark",
  "POL":"Poland",
  "GEO":"Georgia",
  "MAC":"Macedonia",
  "UKR":"Ukraine",
  "SMR":"San Marino",
  "LAT":"Latvia",
  "SWE":"Sweden",
  "EST":"Estonia",
  "LUX":"Luxembourg",
  "CRO":"Croatia",
  "RUS":"Russia",
  "BUL":"Bulgaria",
  "SUI":"Switzerland",
  "KOS":"Kosovo",
  "POR":"Portugal",
  "ALB":"Albania",
  "ENG":"England",
  "AZE":"Azerbaijan",
  "ROM":"Romania",
  "SRB":"Serbia",
  "GRE":"Greece",
  "FIN":"Finland",
  "AUT":"Austria",
  "TUR":"Turkey",
  "FAR":"Faroe Islands",
  "ITA":"Italy",
  "SCO":"Scotland",
  "FRA":"France",
  "FRG":"West Germany",
  "LIT":"Lithuania",
  "SLK":"Slovakia",  "YUG":"Yugoslavia",
  "URS":"Soviet Union",
  "GIB":"Gibraltar",
  "KAZ":"Kazakhstan",  "GDR":"East Germany",
  "IRL":"Ireland",
  "WAL":"Wales",
  "NOR":"Norway",
  "AND":"Andorra",
  "LIE":"Liechtenstein"
}
